/* main info */
:root {
  --primary-text-color: #434455;
  --secondary-text-color: #2e2f42;
  --logo-text-color: #4d5ae5;
  --white-color: #ffffff;
  --fill-color-hover: #404bbf;
  --fill-color: #8e8f99;
}

body {
  background-color: var(--white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  margin: 0;
}
header {
  background-color: var(--white-color);
}
h2 {
  color: var(--secondary-text-color);
}
footer {
  background-color: var(--secondary-text-color);
}
button {
  font-family: inherit;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
}
/* classes */
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.section {
  padding: 120px 0;
}
.site-nav .current {
  color: var(--logo-text-color);
}
/* container settings */
.container {
  width: 1158px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* logo */
.logo {
  color: var(--secondary-text-color);
  font-family: Raleway;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-web,
.logo:hover,
.logo:focus {
  color: var(--logo-text-color);
}

/* buttons */
.button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.button-primary {
  color: var(--white-color);
  background-color: var(--logo-text-color);
  font-weight: 500;
  padding: 16px 32px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.button-primary:hover,
.button-primary:focus,
.button-primary:active {
  background-color: #404bbf;
}
.button-secondary {
  color: #4d5ae5;
  background-color: #f4f4fd;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
  border: 1px solid #e7e9fc;
  padding: 12px 24px;
}
.button-secondary:hover,
.button-secondary:focus,
.button-secondary:active {
  color: var(--white-color);
  background: #404bbf;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
/* background-color: #E5E5E5*/
/* primary color: #434455 */
/* secondary color: #2E2F42 */
/* white color: #FFFFFF */
/* footer color: #E7E9FC */
/* logo colors; #4D5AE5  #2E2F42 */
/* button collor: #4D5AE5 */

/* index.html */
/* header */
.page-header {
  border-bottom: 1px solid #e7e9fc;
}
.header-flex {
  display: flex;
}
/* site nav */
.site-nav {
  display: flex;
  gap: 40px;
}
.nav-link {
  color: var(--secondary-text-color);
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
}
.nav-link:hover,
.nav-link:focus,
.nav-link:active {
  color: var(--logo-text-color);
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
}
.box {
  display: flex;
  gap: 76px;
  align-items: center;
}
/* phone and email */
.address-nav {
  display: flex;
  gap: 40px;
}
.contact-info {
  margin-left: auto;
}
.contact-link {
  color: var(--primary-text-color);
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-style: normal;
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
}
.contact-link:hover,
.contact-link:focus,
.contact-link:active {
  color: var(--logo-text-color);
}

/* main */
/* hero */
.hero {
  text-align: center;
  padding-top: 188px;
  padding-bottom: 188px;
}
.hero-title {
  color: var(--white-color);
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1.07;
  width: 507px;
  margin: 0 auto 48px;
}
.overlay {
  background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/people-office.jpg);
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-position: center;
  max-width: 1440px;
  height: 600px;
}

/* features */
.about {
  padding-bottom: 0;
}
.features-list {
  display: flex;
  gap: 24px;
}
.section-subtitle {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  margin: 0 0 8px 0;
}
.section-text {
  color: var(--primary-text-color);
  letter-spacing: 0.02em;
  line-height: 1.5;
  width: 264px;
  margin-bottom: 8px;
}
.svg-container {
  background-color: #f4f4fd;
  width: 264px;
  border-radius: 4px;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-bottom: 8px;
}
.svg-item {
  display: block;
  margin: auto;
}
/* what are we doing */
.image-list {
  display: flex;
  gap: 24px;
}
.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
/* our team */
.our-team {
  background-color: #f4f4fd;
}
.employee-list {
  display: flex;
  gap: 24px;
}
.employee {
  width: 264px;
  text-align: center;
  background: var(--white-color);

  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;

  padding: 0px 0px 32px;
}
.employee-list .section-photo {
  display: block;
  margin-bottom: 32px;
}
.soical-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.social-link {
  background-color: var(--logo-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.social-link:hover {
  background-color: var(--fill-color-hover);
}
.svg-social {
  width: 16px;
  height: 16px;
}
/* Customers */
.svg-button {
  width: 168px;
  height: 88px;
  background-color: var(--white-color);
  border: 1px solid var(--fill-color);
  border-radius: 4px;
}
.svg-button:hover {
  border: 1px solid var(--fill-color-hover);
}
.customer-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.svg-img {
  width: 104px;
  height: 56px;
  fill: var(--fill-color);
}
.svg-button:hover .svg-img {
  fill: var(--fill-color-hover);
}
/* footer */
.footer {
  padding-top: 100px;
  padding-bottom: 100px;
}
footer .logo {
  color: var(--white-color);
  font-family: Raleway;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: block;
  margin: 0;
  margin-bottom: 16px;
}
.footer-text {
  color: var(--white-color);
  letter-spacing: 0.02em;
  line-height: 1.5;
  width: 264px;
}
.footer-flex {
  display: flex;
  gap: 120px;
}
.footer-social-list {
  display: flex;
  gap: 16px;
}
.footer-social-link {
  background-color: rgba(255, 255, 255, 0.1);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.footer-social-link:hover {
  background-color: #31d0aa;
}
.footer-social-svg {
  width: 24px;
}
/* portfolio */
/* header */
.header-portfolio {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
/* main */
/* button list */
.choose-section {
  padding-top: 96px;
}
.button-list {
  display: flex;
  margin-bottom: 72px;
  gap: 24px;
  justify-content: center;
}
/* proects */
.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}
.project-container {
  background: var(--white-color);
}
.project-subtitle {
  margin-bottom: 8px;
}
.project-text-wrapper {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;

  border: 1px solid #e7e9fc;
  border-top: none;
}
